*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#380036, #0cbaba);
    
}
.Container{
    max-width: 650px;
    padding: 50px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
}
h2{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}
.input-box{
    display:flex;
    flex-wrap: wrap;
    width: 60%;
    padding-bottom: 15px;
}
.input-box.input-box:nth-child(2n){
    justify-content: end;
}
.input-box label, .text-title{
    width: 95%;
    color: #ffff;
    font-weight: bold;
    margin: 5px 0;
}
.text-title{
    font-size: 16px;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.button-container button{
    margin: 15px 0;
}
.button-container button{
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#aa076b, #61045f);
}
.button-container button:hover{
    background-image: linear-gradient(to right,#61045f, #aa076b);
}
@media(max-width:600px){
    .Container
    {
        min-width: 280;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .input-box.input-box:nth-child(2n){
        justify-content: space-between;
    }
    .content::-webkit-scrollbar{
        width: 0;
    }
}